<form action="/u" method="post">
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <textarea class="form-control autoArea" rows="15" name="Content" ></textarea></p>
</div>
</div>
<div class="row">
<div class="col-md-2 col-md-offset-5">
<button type="submit" class="btn btn-primary btn-lg">Get Once Url</button>
</div>
</div>
</form>
