<form action="/u" method="post">
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <textarea class="form-control" rows="15" name="Content" ></textarea></p>
</div>
</div>
<div class="row">
  <input type="submit" value="Submit" />
</div>
</form>
